{% for module in root %}
{% for model in module[1] %}

`{{ module[0] }}:{{ model }} <http://ops.openconfig.net/branches/master/docs/{{ module[0] }}.html#mod-openconfig-{{ model }}>`_


.. raw:: html

    <div><table border="1" class="docutils">
        <tr>
            {% for p in profiles.keys() if p not in ["dummy"] %}
            <th class="head">{{ p }}</th>
            {% endfor %}
        </tr>
        <tbody>
        <tr>
            {% for p, i in profiles.items() if p not in ["dummy"] %}
            <td>config: {{ "&#x2705" if  module[0] in i.config else "&#x274C" }}</br>
                state: &nbsp;&nbsp;{{ "&#x2705" if  module[0] in i.state else "&#x274C" }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table></div>



{% endfor %}
{% endfor %}

Profiles
========

.. raw:: html

    <div><table border="1" class="docutils">
        <tr>
            {% for p in profiles.keys() if p not in ["dummy"] %}
            <th class="head">{{ p }}</th>
            {% endfor %}
        </tr>
        <tbody>
        <tr>
            {% for p in profiles.keys() if p not in ["dummy"] %}
            <td>
                <a href="https://github.com/napalm-automation/napalm-yang/tree/develop/napalm_yang/mappings/{{ p }}/parsers/config">parser:config</a></br>
                <a href="https://github.com/napalm-automation/napalm-yang/tree/develop/napalm_yang/mappings/{{ p }}/parsers/state">parser:state</a></br>
                <a href="https://github.com/napalm-automation/napalm-yang/tree/develop/napalm_yang/mappings/{{ p }}/translators">translator</a>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table></div>
