---
_process:
    - mode: gate
      when: "{{ protocol_key != 'static static' }}"
static:
    _process:
      - container: "route"
        key_element: name
        key_value: "{{ static_key }}"
    config:
        _process: unnecessary
        prefix:
            _process: unnecessary
        set-tag:
            _process: not_implemented
    next-hops:
        _process: unnecessary
        next-hop:
            _process:
              - container: "qualified-next-hop"
                key_element: name
                key_value: "{{ next_hop_key }}"
            config:
                _process: unnecessary
                index:
                    _process: not_implemented
                metric:
                    _process:
                      - element: metric
                next-hop:
                    _process: unnecessary
                recurse:
                    _process: not_implemented
            index:
                _process: not_implemented
            interface-ref:
                _process: not_implemented
                config:
                    _process: not_implemented
                    interface:
                        _process: not_implemented
                    subinterface:
                        _process: not_implemented
                state:
                    _process: not_implemented
            state:
                _process: not_implemented
    prefix:
        _process: not_implemented
    state:
        _process: not_implemented

