---
metadata:
    processor: TextParser
    execute:
        - method: cli
          kwargs:
              commands: ["show running-config all"]
interfaces:
    _process: unnecessary
    interface:
        _process:
            - regexp: "(?P<block>interface (?P<key>(\\w|-)*\\d+)\n(?:.|\n)*?^!$)"
              from: interfaces.0
        name:
            _process: unnecessary
        hold-time:
            _process: not_implemented
            config:
                _process: not_implemented
                down:
                    _process: not_implemented
                up:
                    _process: not_implemented
        config:
            _process: unnecessary
            name:
                _process: unnecessary
            type:
                _process:
                    - mode: map
                      regexp: "interface (?P<value>(\\w|-)*)\\d+"
                      map:
                          Ethernet: ethernetCsmacd
                          Management: ethernetCsmacd
                          Loopback: softwareLoopback
                          Port-Channel: ieee8023adLag
                          Vlan: l3ipvlan
            enabled:
                _process:
                    - mode: is_present
                      regexp: "(?P<value>no shutdown)"
            description:
                _process:
                    - regexp: "description (?P<value>.*)"
            mtu:
                _process:
                    - regexp: "mtu (?P<value>[0-9]+)"
        subinterfaces:
            _process: unnecessary
            subinterface:
                _process:
                    - regexp: "(?P<block>interface {{interface_key}}\\.(?P<key>\\d+)\\n(?:.|\\n)*?^!$)"
                      from: interfaces.0
                index:
                    _process: unnecessary
                config:
                    _process: unnecessary
                    index:
                        _process: unnecessary
                    name:
                        _process:
                            - mode: value
                              value: "{{ interface_key }}.{{ subinterface_key}}"
                    enabled:
                        _process:
                            - mode: is_present
                              regexp: "(?P<value>no shutdown)"
                    description:
                        _process:
                            - regexp: "description (?P<value>.*)"
