{%- import "parsers.j2" as p -%}
{%- import "parsers2.j2" as p2 -%}
"""
{{ module.info.pop("description") }}
"""
from builtins import super
import weakref

from napalm_yang import *


class LocalNamespace(object):
    def __getattr__(self, name):
        import sys
        return globals()[name]

{{ module.info.prefix|safe_attr_name }} = LocalNamespace()

{% set oc_ext = "openconfig-extensions" in module.get("import", {}).keys() %}

{{ p.process_imports(module) }}

{{ p.process_openconfig_extensions(module) }}


{% for k, v in module.pop("info").items() -%}
__{{ k.replace('-', '_') }}__ = {{ v|to_json }}
{% endfor %}


{{ p.process_extensions(module) }}

{{ p.process_feature(module) }}

{{ p.process_typedef(module) }}

{{ p.process_identities(module) }}

{{ p.process_classes(module) }}

{{ p.process_top_uses(module) }}

{{ p.process_top_container(module) }}

{{ p2.process_augments(module) }}

{{- module|raise_if_not_empty -}}
