{%- import "parsers.j2" as p -%}
"""
{{ module.info.pop("description") }}
"""
from napalm_yang import yang_base
from napalm_yang.ietf_yang_types.yang import *

{{ p.process_imports(module) }}

{{ p.process_openconfig_extensions(module) }}

{% for k, v in module.pop("info").items() -%}
__{{ k.replace('-', '_') }}__ = {{ v|to_json }}
{% endfor %}


{{ p.process_typedef(module) }}

{{ p.process_identities(module) }}

{{ p.process_classes(module) }}

{{ p.process_top_uses(module) }}
{{ p.process_top_container(module) }}

{{- module|to_json -}}
{# {{- module|raise_if_not_empty -}} #}
